html {
  font-size: 62.5%;
  max-width: 780px;
  min-width: 320px;
  margin: 0 auto; }

body {
  max-width: 780px;
  min-width: 320px;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; }

@media screen and (max-width: 640px) {
  body {
    background-color: #f0f0f0; } }
.max {
  position: relative;
  overflow: hidden; }

.main-all {
  height: 100%;
  background-color: #f0f0f0; }

.header .button1 {
  background: url(../image/2.png);
  background-size: cover;
  position: absolute;
  top: 3.5rem;
  width: 3.4rem;
  height: 2.7rem;
  outline: none;
  border: none;
  left: 1.5rem; }
  @media screen and (max-width: 640px) {
    .header .button1 {
      background-size: cover;
      position: absolute;
      top: 1.75rem;
      width: 1.7rem;
      height: 1.35rem;
      outline: none;
      border: none;
      left: 1rem; } }

.main {
  padding-bottom: 2rem;
  padding-top: 1.75rem; }
  .main .box1 {
    position: relative;
    border: 1px solid #c9c9c9;
    background-color: #ffffff;
    margin: 0 auto 1.75rem;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    height: 8rem; }
    .main .box1 .last {
      font-size: 3rem;
      color: #9a9a9a;
      line-height: 8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .main .box1 .button2 {
      background: url(../image/return.png);
      background-size: cover;
      position: absolute;
      top: 2.9rem;
      width: 1.8rem;
      height: 3rem;
      outline: none;
      border: none;
      right: 7%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .main .main-bottom {
    position: relative;
    margin: 1rem auto;
    width: 90%;
    border: 1px solid #c9c9c9;
    text-align: center;
    background-color: #ffffff; }
    .main .main-bottom .button4 {
      background: url(../image/next.png);
      background-size: cover;
      position: absolute;
      top: 30rem;
      width: 2.8rem;
      height: 5.6rem;
      outline: none;
      border: none;
      right: 2%; }
    .main .main-bottom .box2 {
      border-bottom: 1px solid #fbb435;
      margin: 1rem auto;
      vertical-align: middle;
      text-align: center;
      height: 9rem; }
      .main .main-bottom .box2 .game {
        font-size: 3.5rem;
        color: #fbb435;
        line-height: 9rem; }
    .main .main-bottom .box3 {
      border: none;
      background-color: #29bde0;
      margin: 2rem auto;
      width: 80%;
      vertical-align: middle; }
      .main .main-bottom .box3 .button3 {
        outline: none;
        border: none;
        height: 10rem;
        font-size: 3rem;
        color: #ffffff;
        background-color: transparent; }
    .main .main-bottom .data {
      font-size: 2rem;
      color: #9a9a9a;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .main .main-bottom .bottom {
      height: 18px;
      margin: 0.5rem auto; }
      .main .main-bottom .bottom .circle1 {
        border-radius: 50%;
        background-color: #29bde0;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        display: inline-block; }
        .main .main-bottom .bottom .circle1:hover {
          background-color: #29bde0; }
      .main .main-bottom .bottom .circle2 {
        border-radius: 50%;
        background-color: #f0f0f0;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        display: inline-block; }
        .main .main-bottom .bottom .circle2:hover {
          background-color: #29bde0; }
  @media screen and (max-width: 640px) {
    .main {
      padding-bottom: 2rem;
      padding-top: 1rem; }
      .main .box1 {
        height: 5rem; }
        .main .box1 .last {
          font-size: 2rem;
          line-height: 5rem; }
        .main .box1 .button2 {
          background-size: cover;
          position: absolute;
          top: 1.8rem;
          width: 0.9rem;
          height: 1.5rem;
          outline: none;
          border: none; }
      .main .main-bottom .button4 {
        background-size: cover;
        position: absolute;
        top: 15.3rem;
        width: 1.4rem;
        height: 2.8rem;
        outline: none;
        border: none; }
      .main .main-bottom .box2 {
        margin: 0.5rem auto;
        height: 4.5rem; }
        .main .main-bottom .box2 .game {
          font-size: 1.75rem;
          line-height: 4.5rem; }
      .main .main-bottom .box3 {
        margin: 1rem auto; }
        .main .main-bottom .box3 .button3 {
          height: 5rem;
          font-size: 1.5rem; }
      .main .main-bottom .data {
        font-size: 1rem; }
      .main .main-bottom .bottom {
        margin: 0.3rem auto; }
        .main .main-bottom .bottom .circle1 {
          border-radius: 50%;
          background-color: #29bde0;
          width: 0.75rem;
          height: 0.75rem;
          margin-right: 0.5rem;
          display: inline-block; }
          .main .main-bottom .bottom .circle1:hover {
            background-color: #29bde0; }
        .main .main-bottom .bottom .circle2 {
          border-radius: 50%;
          background-color: #f0f0f0;
          width: 0.75rem;
          height: 0.75rem;
          margin-right: 0.5rem;
          display: inline-block; }
          .main .main-bottom .bottom .circle2:hover {
            background-color: #29bde0; } }

/*# sourceMappingURL=homepage.css.map */
