@charset "utf-8";
@import "../var";
@import "../mixin";
body{
  font-size: $fontSize - 0.3;
}
.main-all{
  height: 100%;
  background-color: $blue-color;
}
.open-eyes{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #5fc0cd;
  margin-top: 2rem;
  padding-left: 2rem;
  position: relative;
  &::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 15px solid #5fc0cd;
    position: absolute;
    bottom: -15px;
    left: 3rem;
  }
}
.kill-mark{
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding-left: 3rem;
  margin: 0.5rem auto;
  color: $white-color;
  font-size: $fontSize - 0.4;
}
.main-center{
   width: 100%;
   margin: 0 auto 10rem;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
  background-color: #29bde0;
   .gamer {
     width: 33.3%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin-bottom: 0.5rem;
     .player{
       display: inline-block;
       border: 1vw solid $white-color;
       text-align: center;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       .status {
         font-size: $fontSize - 0.2;
         color: $dark-color;
         width: 24vw;
         height: 20vw;
         line-height: 20vw;
         background-color: $yellow-color;
       }
       .number {
         font-size: $fontSize - 0.3;
         color: $white-color;
         background-color: $deepblue-color;
         width: 24vw;
         height: 4vw;
         line-height: 4vw;
       }
       @media screen and (min-width: 780px){
         border: 8px solid $white-color;
         .status{
           width: 188px;
           height: 156px;
           line-height: 156px;
         }
         .number{
           width: 188px;
           height: 32px;
           line-height: 32px;
         }
       }
     }
     ul{
       display: flex;
       justify-content: center;
       width: 100%;
       visibility: hidden;
       li{
         background: url("image/knife.png");
         width: 30px;
         height: 30px;
         margin-top: 0.3rem;
       }
     }
   }
 }
.bottom{
  max-width: 780px;
  transform: scale(1,1);
  margin:auto;
  height: 10rem;
  width: 100%;
  background-color: $blue-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.ok{
  max-width: 640px;
  width: 90%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3rem;
  transform: scale(1,1);
  margin:auto;
  background-color: $yellow-color;
  font-size: 3rem;
  color: $white-color;
}