@charset "utf-8";
@import "../var";

.header {
  position:relative;
  background-color: $blue-color;
  overflow: hidden;
  margin: 0 auto;
  height: 8.8rem;
  img{
    position: absolute;
    top: 2.5rem;
    left: 2rem;
  }
  @media screen and (max-width: 640px){
    height: 4.4rem;
    img{
      top: 1rem;
      left: 1rem;
      width: 18px;
    }
  }
}

