@charset "utf-8";
@import "../var";
@import "../mixin";

.main-center{
  margin-bottom: 6rem;
  font-size: $fontSize - 0.2;
}
.day{
  height: 3rem;
  line-height: 3rem;
  width: 95%;
  color: $blue-color;
  background-color: $white-color;
  text-align: center;
  margin: 1rem auto;
  border: 1px solid $border-color;
}
.game_log{
  position: relative;
  border: 1px solid $border-color;
  width: 95%;
  margin: 0 auto;
  background-color: $white-color;
 .in{
    position:absolute;
    width:0;
    height:0;
    border-right:16px solid transparent;
   border-left:16px solid transparent;
    border-bottom:20px solid $white-color;
    top:-18px;
    margin-left: -18px;
    left:50%;
  }
  .kill{
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    &::before{
      position: absolute;
      left: 3rem;
      content: "";
      display: inline-block;
      width: 3px;
      height: 100%;
      background-color: $border-color;
    }
      .dead,.vote{
        padding-left: 6rem;
      }
      .step{
        position: relative;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        width: 100%;
        color: $white-color;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-left: 6rem;
        padding-right: 2rem;
        .day_night{
          position: absolute;
          left: 1.8rem;
          width: 2.5rem;
          height: 2.5rem;
          background-color: $white-color;
          border: 1px solid $border-color;
          @include rounded-corners(50%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .step0{
          background-color: $deepblue-color;
          position: relative;
          .tri{
            position: absolute;
            width: 0;
            height: 0;
            border-top: 8px dashed $white-color;
            border-bottom: 8px dashed $white-color;
            border-right: 16px solid $deepblue-color;
            top:7px;
            left: -16px;
            margin: 0;
          }
        }
      }
  }
}
.moon{
  width: 1.5rem;
}
.sun{
  width: 2rem;
}
.bottom{
  background-color: $blue-color;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  div{
    max-width: 640px;
    width: 35%;
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    margin:auto;
    background-color: $yellow-color;
    color: $white-color;
    @include rounded-corners(5px);
    button{
      font-size: 2rem;
      color: $white-color;
    }
  }
}
