@charset "utf-8";
@import "../var";

.header {
  position:relative;
  background-color: $deepblue-color;
  overflow: hidden;
  margin: 0 auto;
  height: 8.8rem;
  @media screen and (max-width: 640px){
    height: 4.4rem;
  }
}

