@charset "utf-8";
//基础变量
$fontkind: "STHeitiSC";
$fontSize: 1.75rem;
$blue-color: rgb(41, 189, 224);
$deepblue-color:rgb(95, 192, 205);
$lightblue-color:rgba(105, 209, 233, 0.5);
$white-color: #ffffff;
$greywhite-color: rgb(240, 240, 240);
$grey-color: rgb(154, 154, 154);
$yellow-color:rgb(251, 180, 53);
$lightyellow-color:rgb(255, 237, 197);
$deepyellow-color:rgb(255, 200, 101);
$red-color: rgb(226, 97, 99);
$dark-color: rgb(93,93,93);
$deepdark-color: rgb(51, 51, 51);
$border-color: rgb(201, 201, 201);