@charset "utf-8";
@import "../var";
@import "../mixin";
.main-all{
   background-color: $blue-color;
  box-sizing: border-box ;
  height: 100%;
 }
.main-center{
  background-color: #29bde0;
  max-width: 780px;
  width: 100%;
  margin: 2rem auto 10rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .gamer {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    .player{
      display: inline-block;
      border: 1vw solid $white-color;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .status {
        font-size: $fontSize - 0.2;
        color: $dark-color;
        width: 24vw;
        height: 20vw;
        line-height: 20vw;
        background-color: $yellow-color;
      }
      .number {
        font-size: $fontSize - 0.3;
        color: $white-color;
        background-color: $deepblue-color;
        width: 24vw;
        height: 4vw;
        line-height: 4vw;
      }
      @media screen and (min-width: 780px){
        border: 8px solid $white-color;
        .status{
          width: 188px;
          height: 156px;
          line-height: 156px;
        }
        .number{
          width: 188px;
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }
}
.bottom{
  max-width: 780px;
  transform: scale(1,1);
  margin:auto;
    height: 10rem;
    width: 100%;
    left: 0;
    right: 0;
    background-color: $blue-color;
    position: fixed;
    bottom: 0;
}
.start{
  max-width: 640px;
  width: 70%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2.5rem;
  transform: scale(1,1);
  margin:auto;
  background-color: $yellow-color;
  color: $white-color;
  button{
    font-size: 3rem;
    color: $white-color;
  }
}